html, body {
    height: 100%;
}

body {
    background-image: URL("../img/background.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;

}

/* styling for the header on all pages */

header {
    background: white;
    height: 70px;
    border-bottom: 2px solid #cccccc;
    position: relative;
    width: 100%;
}

header h1 {
    background: #4aaaa5;
    line-height: 70px;
    color: white;
    padding: 0 2vw;
    font-size: 1.5em;
    font-weight: bolder;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 25%;
   
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}


/* styling for the nav bar on all pages */

ol li {
    display: none;
}

ul {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 25%;
    /* height: 70px; */
    /* line-height: 70px; */
    padding-top: 25px;
}


ul li {
    color: #cccccc;
    padding: 0 15px;
    float: left;
    
}

a {
    color: #cccccc;
    text-decoration: none;


}

a:hover {
    color: gray;
}

#contact {
    padding-right: 0;
}


#border {
   
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}





/* styling for the central content box on all pages */

.main-box {
    background: white;
    border: 1px solid #dddddd;
    margin: 0 25%;
    margin-top: 3vh;
    padding: 0 2vw;

}

.main-box h1 {
    color: #4aaaa5;
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 70px;
    border-bottom: 3px solid #cccccc;

}



/* styling for the footer on all pages */

.wrapper {
    min-height: 100%;
    margin-bottom: -50px; 
    padding-bottom: 50px;
}

footer {
    background: #666666;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    margin-top: 5vh;
}

footer h6 {
    text-align: center;
    color: white;
    font-size: .75em;
    padding-top: 30px;
}



/* styling for the About Me page */

p {
    color: gray;
    line-height: 200%;
    padding-bottom: 10px;
  
}

.bio {
    padding: 30px 0;
}

.bio img {
    float: left;
    width: 150px;
    padding-right: 15px;

}



/* styling for the Contact page */


.form {
    padding: 30px 0;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }

 textarea {
      height: 30vh;
  }
  
  input[type=submit] {
      color: white;
      padding: 12px 20px;
      background-color: #4aaaa5;
      border: none;
      cursor: pointer;
  }

  label {
      color: gray;
  }



/* styling for the Portfolio page */

.portfolio-img {
    width: 66%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0;
}

.card {

    background-position: center center;
    background-repeat: none;
    background-size: cover;
    height: 170px;
    width: 170px;

}

.card1 {    
    background-image: url("https://source.unsplash.com/random/170x500");
}

.card2 {    
    background-image: url("https://source.unsplash.com/random/170x501");
}

.card3 {    
    background-image: url("https://source.unsplash.com/random/170x502");
}

.card4 {    
    background-image: url("https://source.unsplash.com/random/170x503");
}

.card5 {    
    background-image: url("https://source.unsplash.com/random/170x504");
}



.card h2 {
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    position: relative;
    top: 130px;
    line-height: 200%;
    font-size: 1em;
  
}

/* hamburger menu styling */

.nav {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    padding: 5px;

}

.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#4aaaa5;
    opacity:0.75;
    overflow-x: hidden;
    padding-top: 75px;
    transition: 0.5s;
}

.side-nav a {
    padding:10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color:white;
    display: block;
    transition: 0.5s;

}

.side-nav a:hover{
    color:rgb(157, 193, 202);

}

.side-nav .btn-close {
    position: absolute;
    top:0;
    right: 0;
    font-size: 36px;
    margin-left:50px;
    color: black;
}

/* media queries for the nav bar and side nav */

@media(max-width:640px){

    ul {
        display:none;
    }

    ol {
        margin: 0 auto;
        padding-top: 12px;
    }

    ol li {
        color: #cccccc;
        padding: 0 15px;
        display: inline-block;

    }


    header {
        background: white;
        height: 70px;
        border-bottom: none;
        position: relative;
        width: 100%;
    }
    
    .header2 {
        height: 40px;
        background: white;
        text-align: center;
        border-bottom: 2px solid #cccccc;
        color: #cccccc;
    }

    .main-box {
        margin: 0 3%;
        margin-top: 3vh;
        padding: 0 20px;

    }

    header h1 {
        white-space: nowrap;
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1em;

    }

    .portfolio-img {
        width: 60%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        margin: 30px auto;
        position: relative;
    }
    
    .card {
        
        position: relative;
        width: 100%;
    }
    
    .bio {
        display: flex;
        flex-direction: column;
    }

    .bio img {
        display: block;
        clear: both;
        width: 200px;
        padding: 0;
        padding-bottom: 15px;
        margin: 0 auto;
    
    }

    .main-box h1 {
        text-align: left;
        font-size: 1em;
    }

}

/* @media(max-width: 768px) {

    header div {
        margin: 0 5%;
    }
    .main-box {
        margin: 0 5%;
    }
 
    ul {
        margin-right: 5%;
    }
 
    #profile {
        width:50vw;
    }
  }

  @media(max-width: 980px) {
    .main-box {
        margin-left: 5%;
        width: 50vw;
    }

    ul {
      margin-right: 3%;
  }

  header div {
      margin: 0 5%;
  }
} */
